{% extends "admin/base.html" %}
{% block title %}
{% endblock %}

{% block content %}


<div class="row">
<div class="col-sm-12 col-md-12 main">

{% if v.saved == 1 %}
<div class="alert alert-success" role="alert">
  Your changes were successfully saved.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<form action="{{ v.action }}" class="form-horizontal" method="POST">
    <div class="row">
        <div class="col-sm col-md main">
            <h1 class="page-header text-center">{{ v.title }}</h1>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.title.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.title(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.url.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.url(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.lang.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.lang(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox"><label>{{ v.f.visible() }}{{ v.f.visible.label.text }}</label></div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.sub_title.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.sub_title(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.recipe_yield.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.recipe_yield(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.recipe_cuisine.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.recipe_cuisine(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.recipe_category.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.recipe_category(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.published_at.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.published_at(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.fb_likes.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.fb_likes(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.fb_og_image.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.fb_og_image(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.fb_og_title.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.fb_og_title(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.fb_og_description.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.fb_og_description(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.meta_keywords.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.meta_keywords(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.meta_description.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.meta_description(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.cook_time.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.cook_time(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.prep_time.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.prep_time(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.total_fats.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.total_fats(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.total_carbs.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.total_carbs(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.total_proteins.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.total_proteins(class="form-control") }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.cut.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.cut(class="form-control", rows=5) }}</div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2">{{ v.f.text.label(class="control-label") }}</div>
                <div class="col-sm-10">{{ v.f.text(class="form-control", rows=20) }}</div>
            </div>


          <!-- --------- -->
        </div>
    </div>

    <div class="row form-group justify-content-start">
        {# Hidden fields #} {{ v.f.id }}
        <div class="col-sm-12">
            {{ v.f.submit(class="btn btn-success btn-block btn-lg", value="Save") }}
        </div>
    </div>
</form>

</div>
</div>
{% endblock %}