{% extends "admin/base.html" %}
{% block title %}
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-12 col-md-12 main">
          <h1 class="page-header">Blog posts</h1>
          {#
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>
          <h2 class="sub-header">Section title</h2>
          #}
          <div class="row placeholders">
            <div class="col-sm-3 placeholder">
              {# buttons #}
              <a class="btn btn-success" href="{{ url_for('.blog_post_new') }}" role="button">New post</a>
              <a class="btn btn-default" target="_blank" href="{{ url_for('.blog_list_preview', lang_override="ru") }}" role="button">Preview ru</a>
              <a class="btn btn-default" target="_blank" href="{{ url_for('.blog_list_preview', lang_override="en") }}" role="button">Preview en</a>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Preview</th>
                  <th>Created</th>
                  <th>Updated</th>
                  <th>Visibility</th>
                </tr>
              </thead>
              <tbody>
              {% for item in v.posts %}
                <tr>
                  <td>{{ item.id }}</td>
                  <td><a href="{{ url_for('.blog_post_update', post_id=item.id) }}">{{ item.name }}</a></td>
                  <td>
                {% for lang in v.supported_langs %}
                  <a href="{{ url_for('.blog_post_preview', lang_override=lang, post_id=item.id) }}" target="_blank">{{ lang }}</a>
                {% endfor %}
                  </td>
                  <td>{{ item.created_at }}</td>
                  <td>{{ item.updated_at }}</td>
                  <td>{% if item.visible %}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>{% else %}<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% endif %}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
</div>
{% endblock %}