<h1>{{ v.h.title }}</h1>
<h3>{{ v.h.sub_title }}</h3>

<p>
    {{ v.h.text }}
</p>


{% for iType in v.h.ingredients_type %}
<p>
    {{ iType.name }} : {{ iType.type }}<br/>
    <p>{{ iType.image }}</p>
    {% for ingr in iType.ingredients %}
        <p>{{ ingr.name }} -- {{ ingr.amount_value }} {{ ingr.amount_type }}</p>
        <p>{{ ingr.note }}</p>
        {% if ingr.optional %}
            <small>Этот ингрединет опционален</small>
        {% endif %}
    {% endfor %}
</p>
<hr/>
{% endfor %}
