{% extends "bootstrap/base.html" %}
{% block title %}Admin: Main{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('front.index') }}">Culog</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('admin.index') }}">Admin</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">

    </div>


</div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    $(document).ready(function(){
        $("#ruTabLink").click(function(){
            $("div[id^='diven_']").hide();
            $("div[id^='divru_']").show();
            $("#enTab").removeClass("active");
            $("#ruTab").addClass("active");
            return false;
        });
        $("#enTabLink").click(function(){
            $("div[id^='divru_']").hide();
            $("div[id^='diven_']").show();
            $("#ruTab").removeClass("active");
            $("#enTab").addClass("active");
            return false;
        });
    });

    </script>
{% endblock %}