{% extends "front/basic.html" %}
{% block title %}
Cook with love | 404
{% endblock %}

{% block content %}
<!-- Post -->
<article class="box post post-excerpt">
<div class="circular"></div>

<div style="margin-left:15px;float:left;">
    <h2 style="color:#444;">Kate crazy cook</h2>
    <br/>
    <p>
        Люблю свою семью, готовить, спорт, ИТ и свою собаку. Если вы не можете готовить с любовью, попросите кого-нибудь сделать это для вас ;)
        Я всегда рада помочь любому благотворительному проекту или организации своими кулинарными способностями. Пишите на <a name="#">pogorelskaya.ekaterina [at] gmail [dot] com</a> в любое время.
        {# http://findicons.com/icon/75281/facebook #}
    </p>
    И не забудьте заглянуть сюда <a href="https://www.facebook.com/CookWithLove-1300674489959301/" target="_blank">Facebook</a> и <a href="https://www.instagram.com/cookwith.love/" target="_blank">Instagram</a> сюда!
</div>
<!--<div class="_o0ohn">-->
    <!--<img class="_8gpiy _r43r5" src="https://scontent-ams3-1.cdninstagram.com/t51.2885-19/s150x150/12728666_865681196877873_520209959_a.jpg" />-->
<!--</div>-->
</article>
{% endblock %}