{% extends "front/basic.html" %}
{% block custom_js %}
    <!-- ShareThis -->
    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=648c88b59c28110012954ddf&product=sticky-share-buttons&source=platform" async="async"></script>
    <!-- /ShareThis -->
<script language="JavaScript">
    function share(url){
        FB.ui({
          method: 'share',
          href: url,
        }, function(response){});
    }
</script>

<!-- Google search https://developers.google.com/search/docs/data-types/recipe -->
<!-- Google search https://developers.google.com/search/docs/data-types/article -->
<script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        
        {% if v.post.is_article %}
            "@type": "NewsArticle",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "{{ v.post.get_url() }}"
            },
            "headline": "{{ v.post.get_og_title() }}",
            "publisher": {
                "@type": "Organization",
                "name": "CookWithLove",
                "logo": {
                    "@type": "ImageObject",
                    "url": "http://cookwith.love/static/front/logo.jpg"
                }
            },
        {% else %}
            {% if v.post.get_cook_time_iso()|length %}
                "cookTime": "{{ v.post.get_cook_time_iso() }}",
                "prepTime": "{{ v.post.get_prep_time_iso() }}",
                "totalTime": "{{ v.post.get_total_time_iso() }}",
            {% endif %}
            {% if v.post.get_recipe_yield()|length %}
                "recipeYield": "{{ v.post.get_recipe_yield() }}",
            {% endif %}
            {% if v.post.get_recipe_category()|length %}
                "recipeCategory": "{{ v.post.get_recipe_category() }}",
            {% endif %}
            {% if v.post.get_recipe_cuisine()|length %}
                "recipeCuisine": "{{ v.post.get_recipe_cuisine() }}",
            {% endif %}
            "@type": "Recipe",
            "name": "{{ v.post.get_og_title() }}",
            "keywords": "{{ v.post.get_keywords() }}",
        {% endif %}
        
        "dateModified": "{{ v.post.updated_at.isoformat() }}",
        "datePublished": "{{ v.post.published_at.isoformat() }}",
        "author": {
            "@type": "Person",
            "name": "Kate P."
        }, 
        "description": "{{ v.post.get_description() }}",
        "image": [
            "{{ v.post.og_image }}"
        ]
    }
</script>
<!-- End Google search -->
{% endblock %}
{% block styles_to_override %}
<style>
    ul.ingredients {
        list-style-type:disc;
        margin-left: 2em;
    }
    ul.preparation {
        list-style-type:circle;
        margin-left: 2em;
        padding-bottom: -20em;
    }
    img.steps {
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
        width: 100%;
        max-width: 500px;
    }
    li.yum {
        height: 20px;
        vertical-align:middle;
    }
    </style>
{% endblock %}

{% block meta %}
<meta name="keywords" content="{{ v.post.get_keywords() }}">
<meta name="description" content="{{ v.post.get_description() }}">
<meta property="og:url" content="{{ v.post.get_url() }}" />
<meta property="og:type" content="{{ v.post.og_type }}" />
<meta property="og:title" content="{{ v.post.get_og_title() }}" />
<meta property="og:description" content="{{ v.post.get_og_description() }}" />
<meta property="og:image" content="{{ v.post.og_image }}" />
{% endblock %}

{% block title %}{{ v.post.get_title() }} | Cook With Love{% endblock %}

{% block content %}
<!-- Post -->
<article class="box post post-excerpt">
    <header>
        <h2 class="fn">{{ v.post.get_title() }}</h2>
        <p>{{ v.post.get_sub_title() }}</p>
    </header>
    
    <div class="info">
        <span class="date"><span class="month">{{ v.post.published_at.strftime('%b') }}</span> <span class="day">{{ v.post.published_at.day }}</span><span class="year">, {{ v.post.published_at.year }}</span></span>
        <ul class="stats">
            <li><a href="#" onclick="share('{{ v.post.get_url() }}'); return false;" class="icon fa-facebook">{{ v.post.fb_likes|default("∞", true) }}</a></li>
            <li class="yum"><script type="text/javascript">document.write(VK.Share.button('{{ v.post.get_url() }}',{type: "round", text: "Share"}));</script><li>
        </ul>
    </div>
    
    {% if v.post.get_prep_time_iso()|length or v.post.get_cook_time_iso()|length or v.post.get_recipe_yield()|length %}
    <div style="display: table-cell; display: flex; width: 100%; margin: 10px 0 10px 0;">
        {% if v.post.get_prep_time_iso() != "" %}
            <div style="display: table-cell; flex: 1; border-right: 1px solid #ccc; margin-right: 15px">
                Preparation time: <div style="font-weight: 600;">{{v.post.get_prep_time_ui(v.current_lang)}}</div>
            </div>
        {% endif %}
        {% if v.post.get_cook_time_iso() != "" %}
            <div style="display: table-cell; flex: 1; border-right: 1px solid #ccc; margin-right: 15px">
                Cooking time: <div style="font-weight: 600;">{{v.post.get_cook_time_ui(v.current_lang)}}</div>
            </div>
        {% endif %}
        {% if v.post.get_recipe_yield()|length %}
            <div style="display: table-cell; flex: 1; margin-right: 15px">
                Servings: <div style="font-weight: 600;">{{v.post.get_recipe_yield()}}</div>
            </div>
        {% endif %}
    </div>
    {% endif %}
    
    {{ v.post.get_text()|safe }}
</article>
{% endblock %}


{% block lang_switcher %}
    {% for lng in v.lang_dic %}
        {% if lng == v.current_lang %}
            <li class="current"><a>{{ v.lang_dic[lng] }}</a></li>
        {% else %}
            <li><a href="#" onclick="l('{{ lng }}', '{{ v.links[lng] }}'); return false;">{{ v.lang_dic[lng] }}</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}
