<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Kate CookWithLove" />
    <meta name="language" content="{{ v.current_lang }}" />
    <meta property="fb:app_id" content="522001701315044" />
    <meta name="google-site-verification" content="JFPt5yogtMcMbc8vnAL-tW52xKNv-5jjeZpAJ6S9BaA" />
    <meta name="yandex-verification" content="bf87104ed493675a" />
    <meta name="p:domain_verify" content="4a6a6e87253bc981a3afcb0120e30980" />

    <title>Cookie policy | Cook With Love</title>
    <link rel="canonical" href="{{ request.base_url }}"/>
    <link rel="icon" href="{{ url_for('static', filename = 'front/fav.svg') }}" type="image/x-icon" />

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ request.base_url }}" />
    <meta property="og:image" content="{{ url_for('static', filename = 'front/logo.jpg') }}" />

    <meta property="og:title" content="Cookie policy | Cook With Love" />
    <meta property="og:description" content="Each and every recipe has a story behind it. I'm collecting family recipes that are full love and warm memories. Do you have one?" />
    <meta name="keywords" content="food blog, easy recipes, home cooking, cooking, recipes, baking, dessert recipes, homecooking, yummy, cook with love" />
    <meta name="description" content="Each and every recipe has a story behind it. I'm collecting family recipes that are full love and warm memories. Do you have one?" />

    <!--Start Cookie Script-->
    <script type="text/javascript" charset="UTF-8" src="http://chs03.cookie-script.com/s/8dcf4a25cbb374f71de9f2eb5fbcffbd.js"></script>
    <!--End Cookie Script-->
    <link href="{{ url_for('static', filename = 'front/recipe/css/cwl.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename = 'front/recipe/js/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename = 'front/recipe/js/actions.js') }}"></script>
    <script src="{{ url_for('static', filename = 'front/recipe/js/ya.js') }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74503103-1"></script>
    <script src="{{ url_for('static', filename = 'front/recipe/js/gtag.js') }}"></script>
    <!-- Yandex.Metrika counter -->
    <noscript>
      <div>
        <img src="https://mc.yandex.ru/watch/69447489" style="position:absolute; left:-9999px;" alt="" />
      </div>
    </noscript>
    <!-- /Yandex.Metrika counter -->
  </head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
      <div class="container">

        <a class="order-md-1 mr-1 pt-1 pb-1" href="/">
          <img style="height:55px;" src="{{ url_for('static', filename = 'front/logo.png') }}" data-pin-nopin="true" />
        </a>

        <button class="navbar-toggler order-2 order-md-2" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3 order-md-3 pl-1" id="navbar-left">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">{{ v.phrases.recipes }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/{{ v.current_lang }}/about">{{ v.phrases.about }}</a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse order-4 order-md-4 pl-1" id="navbar-right">
          <ul class="navbar-nav ml-auto">
            {#{% for lng in v.lang_dic %}
                {% if lng == v.current_lang %}
                  <li class="nav-item active"><a class="nav-link">{{ v.lang_dic[lng] }}</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ v.links[lng] }}">{{ v.lang_dic[lng] }}</a></li>
                {% endif %}
            {% endfor %}#}
              {% for lng in v.lang_dic %}
                {% if lng == v.current_lang %}
                  <li class="nav-item active"><a class="nav-link">{{ v.lang_dic[lng] }}</a></li>
                {% else %}
                  <li class="nav-item"><a class="nav-link" href="{{ v.links[lng] }}"  onclick="switch_lang('{{ lng }}', '{{ v.links[lng] }}'); return false;">{{ v.lang_dic[lng] }}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
    <nav class="navbar d-flex justify-content-center">
      {% for c in v.categories %}
      <a class="btn btn-light btn-sm mb-1 mr-1 ml-1" href="{{ c[1] }}">{{ c[0] }}</a>
      {% endfor %}
    </nav>
  </header>

  <main class="main pt-4">
    <div class="container" id="indexContainer">
      <div class="row d-flex justify-content-center">
        <div style="margin:15px;float:right;">
          <h2 style="color:#444;">Cookie Policy</h2>
          <br/>
          <p>
          A number of our pages use cookies to remember your display preferences, such as selected language.
          <br>
          Enabling these cookies is strictly necessary for the website to work as it will provide you with a better browsing experience.
          <br>
          You can delete or block these cookies, but if you do that some features of this site may not work as intended.
          <br>
          The cookie-related information is not used to identify you personally and the pattern data is fully under our control.
          <br>
          These cookies are not used for any purpose other than those described here.
          </p>
        </div><!-- /.card -->
      </div>
    </div>
  </main>

  <div class="site-pagination">
    <div class="container">
      <div class="text-center">
        <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ml-auto mr-auto">
            <div class="input-group mb-3 mt-3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="site-instagram">
    <div class="action">
      <a class="btn btn-light" href="https://www.instagram.com/cookwith.love/" target="_blank">
        cookwith.love @ Instagram
      </a>
    </div>
    <div class="row no-gutters">
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/1.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/2.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/3.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/4.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="row no-gutters">
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/5.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/6.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/7.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
          <div class="col-3">
            <a class="photo" href="#">
              <img class="img-fluid" src="{{ url_for('static', filename = 'front/recipe/images/instagram/8.jpg') }}" alt="" data-pin-nopin="true" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="site-footer bg-darkest">
    <div class="container">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/{{ v.current_lang }}/about">{{ v.phrases.about }}</a>
        </li>
      </ul>
      <div class="copy">
        &copy; CookwithLove 2021<br />
        {{ v.phrases.reserved_rights }}
      </div>
    </div>
  </footer>
  <script src="{{ url_for('static', filename = 'front/recipe/js/app.js') }}"></script>
</body>
</html>
