<div class="row">
        {# posts_left #}
        <div class="col-md-4">
          {% for p in v.posts_left %}
          <article class="card mb-4">
            <header class="card-header">
              <div class="card-meta">
{# <!--                <a href="#">--> #}
                  <time class="timeago" datetime="{{ p.published_at.strftime('%Y-%m-%d %H:%M') }}">{{ p.published_at.strftime('%Y-%m-%d') }}</time>
{#<!--                </a>-->#}
                {% if p.recipe_category %}
                @
{#<!--                <a href="page-category.html">-->#}
                {{ p.recipe_category }}
{#<!--                </a>-->#}
                {% endif %}
              </div>
              <a href="{{ v.prefix }}/{{ p.lang }}{{ p.url }}">
                <h4 class="card-title">
                  {{ p.title }} {{ p.id }}
                </h4>
                <h6 class="card-title">
                  {{ p.sub_title }}
                </h6>
              </a>
            </header>
              {% if p.fb_og_image %}
              <a href="{{ v.prefix }}/{{ p.lang }}{{ p.url }}">
              <img class="card-img" src="{{ p.fb_og_image }}" alt="{{ p.title }}" />
            </a>
              {% endif %}
              <div class="card-body">
              <p class="card-text">
                {{ p.cut | safe }}
              </p>
            </div>
          </article>
          {% endfor %}
        </div>
        {# posts_center #}
        <div class="col-md-4">
          {% for p in v.posts_center %}
          <article class="card mb-4">
            <header class="card-header">
              <div class="card-meta">
{# <!--                <a href="#">--> #}
                  <time class="timeago" datetime="{{ p.published_at.strftime('%Y-%m-%d %H:%M') }}">{{ p.published_at.strftime('%Y-%m-%d') }}</time>
{#<!--                </a>-->#}
                {% if p.recipe_category %}
                @
{#<!--                <a href="page-category.html">-->#}
                {{ p.recipe_category }}
{#<!--                </a>-->#}
                {% endif %}
              </div>
              <a href="{{ v.prefix }}/{{ p.lang }}{{ p.url }}">
                <h4 class="card-title">
                  {{ p.title }} {{ p.id }}
                </h4>
                <h6 class="card-title">
                  {{ p.sub_title }}
                </h6>
              </a>
            </header>
              {% if p.fb_og_image %}
            <a href="{{ v.prefix }}/{{ p.lang }}{{ p.url }}">

              <img class="card-img" src="{{ p.fb_og_image }}" alt="{{ p.title }}" />

            </a>
              {% endif %}
            <div class="card-body">
              <p class="card-text">
                {{ p.cut | safe }}
              </p>
            </div>
          </article>
          {% endfor %}
        </div>
        {# posts_right #}
        <div class="col-md-4">
          {% for p in v.posts_right %}
          <article class="card mb-4">
            <header class="card-header">
              <div class="card-meta">
{# <!--                <a href="#">--> #}
                  <time class="timeago" datetime="{{ p.published_at.strftime('%Y-%m-%d %H:%M') }}">{{ p.published_at.strftime('%Y-%m-%d') }}</time>
{#<!--                </a>-->#}
                {% if p.recipe_category %}
                @
{#<!--                <a href="page-category.html">-->#}
                {{ p.recipe_category }}
{#<!--                </a>-->#}
                {% endif %}
              </div>
              <a href="{{ v.prefix }}/{{ p.lang }}{{ p.url }}">
                <h4 class="card-title">
                  {{ p.title }} {{ p.id }}
                </h4>
                <h6 class="card-title">
                  {{ p.sub_title }}
                </h6>
              </a>
            </header>
              {% if p.fb_og_image %}
            <a href="{{ v.prefix }}/{{ p.lang }}{{ p.url }}">
              <img class="card-img" src="{{ p.fb_og_image }}" alt="{{ p.title }}" />
            </a>
              {% endif %}
              <div class="card-body">
              <p class="card-text">
                {{ p.cut | safe }}
              </p>
              </div>
          </article>
          {% endfor %}
        </div>
      </div>